*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  color: #444444; }

ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.section-outer {
  padding-right: 20px;
  padding-left: 20px; }

.section-inner {
  max-width: 1140px;
  margin: 0 auto; }

.section-start {
  background: url(../assets/img/starting-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center; }
  .section-start .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px; }
    .section-start .header__logo {
      font-size: 33.51px;
      font-weight: 700;
      color: #ffffff; }
    .section-start .header__nav ul {
      display: flex;
      list-style: none; }
      .section-start .header__nav ul li {
        margin-left: 36.5px; }
        .section-start .header__nav ul li a {
          font-size: 16px;
          font-weight: 700;
          text-decoration: none;
          color: #ffffff; }
        .section-start .header__nav ul li .header__nav-active {
          padding-bottom: 3px;
          border-bottom: 1px solid #e71cb4;
          color: #e71cb4; }
  .section-start-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 225px;
    padding-bottom: 276px; }
    .section-start-wrapper__title {
      margin-bottom: 27px;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 1.5px;
      color: #ffffff; }
    .section-start-wrapper__subtitle {
      margin-bottom: 87px;
      font-size: 30px;
      font-weight: 400;
      color: #ffffff; }
    .section-start-wrapper__btn a {
      padding: 10px 20px 13px 20px;
      border: 2px solid #ffffff;
      border-radius: 10px;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 0.4px;
      color: #ffffff; }
