*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  color: #444444; }

ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

.section-outer {
  padding-right: 20px;
  padding-left: 20px; }

.section-inner {
  position: relative;
  max-width: 1140px;
  margin: 0 auto; }

.section-start {
  background: url(../assets/img/starting-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center; }
  .section-start .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px; }
    .section-start .header__logo {
      font-size: 33.51px;
      font-weight: 700;
      color: #ffffff; }
    .section-start .header__nav ul {
      display: flex;
      list-style: none; }
      .section-start .header__nav ul li {
        margin-left: 36.5px; }
        .section-start .header__nav ul li a {
          font-size: 16px;
          font-weight: 700;
          text-decoration: none;
          color: #ffffff; }
        .section-start .header__nav ul li .header__nav-active {
          padding-bottom: 3px;
          border-bottom: 1px solid #ff16b9;
          color: #ff16b9; }
  .section-start-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 225px;
    padding-bottom: 276px; }
    .section-start-wrapper__title {
      margin-bottom: 27px;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 1.5px;
      color: #ffffff; }
    .section-start-wrapper__subtitle {
      margin-bottom: 87px;
      font-size: 30px;
      font-weight: 400;
      color: #ffffff; }
    .section-start-wrapper__btn a {
      padding: 10px 20px 13px 20px;
      border: 2px solid #ffffff;
      border-radius: 10px;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 0.4px;
      color: #ffffff; }

.section-description {
  padding-top: 140px;
  padding-bottom: 155px; }
  .section-description__title {
    margin-bottom: 87px;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ff16b9; }
  .section-description__text {
    margin-bottom: 130px;
    font-size: 32px;
    line-height: 1.5em; }
  .section-description .course-title {
    margin-bottom: 75px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px; }
  .section-description .course-item {
    display: flex;
    justify-content: space-between; }
    .section-description .course-item-left {
      height: 100%; }
      .section-description .course-item-left__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 78px;
        min-height: 33.33%; }
        .section-description .course-item-left__wrapper img {
          margin-left: 25px;
          margin-right: 55px;
          width: 15px;
          height: 25px; }
        .section-description .course-item-left__wrapper span {
          min-width: 100px; }
        .section-description .course-item-left__wrapper .item-first {
          font-size: 44px;
          font-weight: 700;
          color: #ffde16; }
        .section-description .course-item-left__wrapper .item-second {
          font-size: 44px;
          font-weight: 700;
          color: #ffbd9e; }
        .section-description .course-item-left__wrapper .item-third {
          font-size: 44px;
          font-weight: 700;
          color: #20c9e0; }
        .section-description .course-item-left__wrapper p {
          min-width: 65%;
          font-size: 24px;
          font-weight: 500; }
    .section-description .course-item-right {
      margin-left: 120px;
      height: 100%; }
      .section-description .course-item-right__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 78px;
        min-height: 33.33%; }
        .section-description .course-item-right__wrapper img {
          margin-right: 55px;
          width: 15px;
          height: 25px; }
        .section-description .course-item-right__wrapper span {
          min-width: 100px; }
        .section-description .course-item-right__wrapper .item-fourth {
          font-size: 44px;
          font-weight: 700;
          color: #2eac66; }
        .section-description .course-item-right__wrapper .item-fifth {
          font-size: 44px;
          font-weight: 700;
          color: #ff6179; }
        .section-description .course-item-right__wrapper .item-sixth {
          font-size: 44px;
          font-weight: 700;
          color: #ffde16; }
        .section-description .course-item-right__wrapper p {
          min-width: 62%;
          font-size: 24px;
          font-weight: 500; }
  .section-description .course-text {
    margin-bottom: 70px;
    font-size: 22px;
    line-height: 1.81em; }
  .section-description .submissions-title {
    margin-bottom: 35px;
    font-size: 30px;
    letter-spacing: 1.05px; }
  .section-description .submissions-text {
    margin-bottom: 50px;
    font-size: 14px; }
  .section-description .submissions-btn a {
    display: inline-block;
    padding: 21px 77px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    background-color: #ff16b9;
    color: #ffffff; }

.section-participants {
  background: linear-gradient(180deg, #333399 0%, #333399 36%, #38329a 39%, #482e9e 46%, #6427a5 54%, #da09c3 85%, #f203c9 94%, #ff00cc 100%);
  padding-top: 147px;
  padding-bottom: 118px; }
  .section-participants__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: #ffffff; }
  .section-participants__text {
    margin-bottom: 45px;
    text-align: center;
    font-size: 22px;
    line-height: 1.82em;
    color: #ffffff; }
  .section-participants-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 75px;
    width: 95%; }
    .section-participants-wrapper__item .picture {
      margin-bottom: 16px;
      border-radius: 12px; }
    .section-participants-wrapper__item .name {
      margin-bottom: 17px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #ffffff; }
    .section-participants-wrapper__item .position {
      margin-bottom: 28px;
      text-align: center;
      font-size: 16px;
      color: #ffffff; }
  .section-participants__countdown {
    margin-bottom: 54px;
    text-align: center;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff; }
  .section-participants__countdown-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 857px; }
    .section-participants__countdown-wrapper__item {
      width: 160px;
      height: 160px;
      background-color: #470340; }
      .section-participants__countdown-wrapper__item .number {
        font-family: 'Open Sans', sans-serif;
        margin-top: 20px;
        margin-bottom: 12px;
        font-size: 71.4px;
        font-weight: 700;
        text-align: center;
        color: #ffffff; }
      .section-participants__countdown-wrapper__item .time {
        font-family: 'Open Sans', sans-serif;
        font-size: 18.07px;
        text-align: center;
        color: #ffffff; }
    .section-participants__countdown-wrapper .countdown-active {
      border: 2px solid #ffffff;
      background: transparent; }

.section-sponsors {
  padding-top: 80px;
  padding-bottom: 115px; }
  .section-sponsors__title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 1px; }
  .section-sponsors__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.section-jury {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #ffe9eb; }
  .section-jury-title {
    margin-bottom: 75px;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center; }
  .section-jury-wrapper {
    display: flex;
    justify-content: space-between; }
    .section-jury-wrapper__item .picture {
      margin-bottom: 20px;
      border-radius: 50%; }
    .section-jury-wrapper__item .name {
      margin-bottom: 17px;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1px;
      text-align: center; }
    .section-jury-wrapper__item .position {
      font-size: 16px;
      text-align: center; }

.section-contact {
  padding-top: 86px;
  padding-bottom: 200px; }
  .section-contact__title {
    margin-bottom: 65px;
    font-size: 63.87px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center; }
  .section-contact__text {
    margin: 0px auto 69px;
    max-width: 65%;
    font-size: 22px;
    line-height: 1.815em;
    text-align: center; }
  .section-contact__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px auto 122px;
    width: 56%; }
    .section-contact__wrapper input {
      margin-bottom: 35px;
      padding: 11px 12px 11px 0px;
      border: none;
      border-bottom: 5px solid #444444;
      min-width: 303px;
      font-size: 13px;
      outline: none; }
    .section-contact__wrapper .focus {
      border-bottom: 2px solid #444444; }
  .section-contact .input-msg {
    display: block;
    margin: 0 auto;
    padding: 12px 12px 12px 0px;
    border: none;
    border-bottom: 5px solid #444444;
    max-width: 56%;
    width: 100%;
    font-size: 13px;
    outline: none; }
  .section-contact .submit-btn {
    position: absolute;
    right: 269px;
    margin-top: 43px;
    padding: 18.5px 21.5px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #ffffff;
    background-color: #444444; }

.section-footer {
  padding-top: 66px;
  padding-bottom: 60px;
  background-color: #eeeeee; }
  .section-footer__title {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center; }
  .section-footer__text {
    margin-bottom: 26px;
    font-size: 16px;
    letter-spacing: 0.05px;
    text-align: center; }
  .section-footer__subscribe {
    display: flex;
    justify-content: center;
    margin-bottom: 85px; }
    .section-footer__subscribe input {
      margin-right: 7px;
      padding: 20px 15px 20px 15px;
      border: none;
      border-radius: 10px;
      max-width: 400px;
      width: 100%;
      font-size: 18px;
      letter-spacing: 0.3px;
      outline: none; }
    .section-footer__subscribe button {
      padding: 0px 23px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
      background-color: #ff16b9; }
  .section-footer__wrapper {
    display: flex;
    justify-content: center; }
    .section-footer__wrapper-social {
      position: relative;
      margin: 0 3.5px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #dedede; }
      .section-footer__wrapper-social img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
