//=== Mixin ===
@mixin font-main {
    font-family: 'Poppins', sans-serif;
}

@mixin font-secondary {
    font-family: 'Open Sans', sans-serif;
}

//=== / Mixin ===

//=== Variables ===
$color-main: #444444;
$color-secondary: #ff16b9;
$color-white: #ffffff;
//=== / Variables ===

//=== Common ===
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    @include font-main;

    color: $color-main;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}

.section-inner {
    max-width: 1140px;
    margin: 0 auto;
}
//=== / Common ===

//=== starting-screen ===
.section-start {
    background: url(../assets/img/starting-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 26px;

        &__logo {
            font-size: 33.51px;
            font-weight: 700;
            color: $color-white;
        }
        &__nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    margin-left: 36.5px;

                    a {
                        font-size: 16px;
                        font-weight: 700;
                        text-decoration: none;
                        color: $color-white;
                    }

                    .header__nav-active {
                        padding-bottom: 3px;
                        border-bottom: 1px solid $color-secondary;
                        color: $color-secondary;
                    }
                }
            }
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 225px;
        padding-bottom: 276px;

        &__title {
            margin-bottom: 27px;
            font-size: 60px;
            font-weight: 700;
            letter-spacing: 1.5px;
            color: $color-white;
        }
        &__subtitle {
            margin-bottom: 87px;
            font-size: 30px;
            font-weight: 400;
            color: $color-white;
        }
        &__btn {
            a {
                padding: 10px 20px 13px 20px;
                border: 2px solid $color-white;
                border-radius: 10px;
                text-decoration: none;
                font-weight: 700;
                letter-spacing: 0.4px;
                color: $color-white;
            }
        }
    }
}
//=== / starting-screen ===

//=== description ===
.section-description {
    padding-top: 140px;
    padding-bottom: 155px;

    &__title {
        margin-bottom: 87px;
        font-size: 62px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $color-secondary;
    }
    &__text {
        margin-bottom: 130px;
        font-size: 32px;
        line-height: 1.5em;
    }
    .course-title {
        margin-bottom: 75px;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .course-item {
        display: flex;
        justify-content: space-between;

        &-left {
            height: 100%;

            &__wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 78px;
                min-height: 33.33%;
                
                img {
                    margin-left: 25px;
                    margin-right: 55px;
                    width: 15px;
                    height: 25px;
                }
                span {
                    min-width: 100px;
                }
                .item-first {
                    font-size: 44px;
                    font-weight: 700;
                    color: #ffde16;
                }
                .item-second {
                    font-size: 44px;
                    font-weight: 700;
                    color: #ffbd9e;
                }
                .item-third {
                    font-size: 44px;
                    font-weight: 700;
                    color: #20c9e0;
                }
                p {
                    min-width: 65%;
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
        &-right {
            margin-left: 120px;
            height: 100%;

            &__wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 78px;
                min-height: 33.33%;

                img {
                    margin-right: 55px;
                    width: 15px;
                    height: 25px;
                }
                span {
                    min-width: 100px;
                }
                .item-fourth {
                    font-size: 44px;
                    font-weight: 700;
                    color: #2eac66;
                }
                .item-fifth {
                    font-size: 44px;
                    font-weight: 700;
                    color: #ff6179;
                }
                .item-sixth {
                    font-size: 44px;
                    font-weight: 700;
                    color: #ffde16;
                }
                p {
                    min-width: 62%;
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
    }
    .course-text {
        margin-bottom: 70px;
        font-size: 22px;
        line-height: 1.81em;
    }
    .submissions-title {
        margin-bottom: 35px;
        font-size: 30px;
        letter-spacing: 1.05px;
    }
    .submissions-text {
        margin-bottom: 50px;
        font-size: 14px;
    }
    .submissions-btn {
        a {
            display: inline-block;
            padding: 21px 77px;
            border-radius: 10px;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-decoration: none;
            background-color: $color-secondary;
            color: $color-white
        }
    }
}
//=== / description ===

//=== participants ===
//=== / participants ===

//=== sponsors ===
//=== / sponsors ===

//=== executives ===
//=== / executives ===

//=== contact-us ===
//=== / contact-us ===

//=== footer ===
//=== / footer ===