//=== Mixin ===
@mixin font-main {
    font-family: 'Poppins', sans-serif;
}

@mixin font-secondary {
    font-family: 'Open Sans', sans-serif;
}

@mixin linear-gradient {
    background: linear-gradient(180deg , rgba(51,51,153,1) 0%,rgba(51,51,153,1) 36%,rgba(56,50,154,1) 39%,rgba(72,46,158,1) 46%,rgba(100,39,165,1) 54%,rgba(218,9,195,1) 85%,rgba(242,3,201,1) 94%,rgba(255,0,204,1) 100%);
}
//=== / Mixin ===

//=== Variables ===
$color-main: #444444;
$color-secondary: #ff16b9;
$color-white: #ffffff;
//=== / Variables ===

//=== Common ===
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    @include font-main;

    color: $color-main;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}

.section-inner {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}
//=== / Common ===

//=== starting-screen ===
.section-start {
    background: url(../assets/img/starting-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 26px;

        &__logo {
            font-size: 33.51px;
            font-weight: 700;
            color: $color-white;
        }
        &__nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    margin-left: 36.5px;

                    a {
                        font-size: 16px;
                        font-weight: 700;
                        text-decoration: none;
                        color: $color-white;
                    }

                    .header__nav-active {
                        padding-bottom: 3px;
                        border-bottom: 1px solid $color-secondary;
                        color: $color-secondary;
                    }
                }
            }
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 225px;
        padding-bottom: 276px;

        &__title {
            margin-bottom: 27px;
            font-size: 60px;
            font-weight: 700;
            letter-spacing: 1.5px;
            color: $color-white;
        }
        &__subtitle {
            margin-bottom: 87px;
            font-size: 30px;
            font-weight: 400;
            color: $color-white;
        }
        &__btn {
            a {
                padding: 10px 20px 13px 20px;
                border: 2px solid $color-white;
                border-radius: 10px;
                text-decoration: none;
                font-weight: 700;
                letter-spacing: 0.4px;
                color: $color-white;
            }
        }
    }
}
//=== / starting-screen ===

//=== description ===
.section-description {
    padding-top: 140px;
    padding-bottom: 155px;

    &__title {
        margin-bottom: 87px;
        font-size: 62px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $color-secondary;
    }
    &__text {
        margin-bottom: 130px;
        font-size: 32px;
        line-height: 1.5em;
    }
    .course-title {
        margin-bottom: 75px;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .course-item {
        display: flex;
        justify-content: space-between;

        &-left {
            height: 100%;

            &__wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 78px;
                min-height: 33.33%;
                
                img {
                    margin-left: 25px;
                    margin-right: 55px;
                    width: 15px;
                    height: 25px;
                }
                span {
                    min-width: 100px;
                }
                .item-first {
                    font-size: 44px;
                    font-weight: 700;
                    color: #ffde16;
                }
                .item-second {
                    font-size: 44px;
                    font-weight: 700;
                    color: #ffbd9e;
                }
                .item-third {
                    font-size: 44px;
                    font-weight: 700;
                    color: #20c9e0;
                }
                p {
                    min-width: 65%;
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
        &-right {
            margin-left: 120px;
            height: 100%;

            &__wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 78px;
                min-height: 33.33%;

                img {
                    margin-right: 55px;
                    width: 15px;
                    height: 25px;
                }
                span {
                    min-width: 100px;
                }
                .item-fourth {
                    font-size: 44px;
                    font-weight: 700;
                    color: #2eac66;
                }
                .item-fifth {
                    font-size: 44px;
                    font-weight: 700;
                    color: #ff6179;
                }
                .item-sixth {
                    font-size: 44px;
                    font-weight: 700;
                    color: #ffde16;
                }
                p {
                    min-width: 62%;
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
    }
    .course-text {
        margin-bottom: 70px;
        font-size: 22px;
        line-height: 1.81em;
    }
    .submissions-title {
        margin-bottom: 35px;
        font-size: 30px;
        letter-spacing: 1.05px;
    }
    .submissions-text {
        margin-bottom: 50px;
        font-size: 14px;
    }
    .submissions-btn {
        a {
            display: inline-block;
            padding: 21px 77px;
            border-radius: 10px;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-decoration: none;
            background-color: $color-secondary;
            color: $color-white
        }
    }
}
//=== / description ===

//=== participants ===
.section-participants {
    @include linear-gradient;
    
    padding-top: 147px;
    padding-bottom: 118px;

    &__title {
        margin-bottom: 50px;
        text-align: center;
        font-size: 62px;
        font-weight: 700;
        letter-spacing: 1.8px;
        color: $color-white;
    }
    &__text {
        margin-bottom: 45px;
        text-align: center;
        font-size: 22px;
        line-height: 1.82em;
        color: $color-white;
    }
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto 75px;
        width: 95%;

        &__item {
            .picture {
                margin-bottom: 16px;
                border-radius: 12px;
            }
            .name {
                margin-bottom: 17px;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 1px;
                color: $color-white;
            }
            .position {
                margin-bottom: 28px;
                text-align: center;
                font-size: 16px;
                color: $color-white;
            }
        }
    }
    &__countdown {
        margin-bottom: 54px;
        text-align: center;
        font-size: 62px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $color-white;
    }
    &__countdown-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 857px;

        &__item {
            width: 160px;
            height: 160px;
            background-color: #470340;
            
            .number {
                @include font-secondary;
                
                margin-top: 20px;
                margin-bottom: 12px;
                font-size: 71.4px;
                font-weight: 700;
                text-align: center;
                color: $color-white
            }
            .time {
                @include font-secondary;

                font-size: 18.07px;
                text-align: center;
                color: $color-white
            }
        }
        .countdown-active {
            border: 2px solid $color-white;
            background: transparent;
        }
    }
}
//=== / participants ===

//=== sponsors ===
.section-sponsors {
    padding-top: 80px;
    padding-bottom: 115px;

    &__title {
        margin-bottom: 80px;
        text-align: center;
        font-size: 62px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
//=== / sponsors ===

//=== jury ===
.section-jury {
    padding-top: 85px;
    padding-bottom: 100px;
    background-color: #ffe9eb;

    &-title {
        margin-bottom: 75px;
        font-size: 62px;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;

        &__item {
            .picture {
                margin-bottom: 20px;
                border-radius: 50%;
            }
            .name {
                margin-bottom: 17px;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 1px;
                text-align: center;
            }
            .position {
                font-size: 16px;
                text-align: center;
            }
        }
    }
}
//=== / jury ===

//=== contact-us ===
.section-contact {
    padding-top: 86px;
    padding-bottom: 200px;

    &__title {
        margin-bottom: 65px;
        font-size: 63.87px;
        font-weight: 700;
        letter-spacing: 1.5px;
        text-align: center;
    }
    &__text {
        margin: 0px auto 69px;
        max-width: 65%;
        font-size: 22px;
        line-height: 1.815em;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px auto 122px;
        width: 56%;

        input {
            margin-bottom: 35px;
            padding: 11px 12px 11px 0px;
            border: none;
            border-bottom: 5px solid $color-main;
            min-width: 303px;
            font-size: 13px;
            outline: none;
        }
        .focus {
            border-bottom: 2px solid $color-main;
        }
    }
    .input-msg {
        display: block;
        margin: 0 auto;
        padding: 12px 12px 12px 0px;
        border: none;
        border-bottom: 5px solid $color-main;
        max-width: 56%;
        width: 100%;
        font-size: 13px;
        outline: none;
    }
    .submit-btn {
        position: absolute;
        right: 269px;
        margin-top: 43px;
        padding: 18.5px 21.5px;
        border: none;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.4px;
        color: $color-white;
        background-color: $color-main;
    }
}
//=== / contact-us ===

//=== footer ===
.section-footer {
    padding-top: 66px;
    padding-bottom: 60px;
    background-color: #eeeeee;
    
    &__title {
        margin-bottom: 40px;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-align: center;
    }
    &__text {
        margin-bottom: 26px;
        font-size: 16px;
        letter-spacing: 0.05px;
        text-align: center;
    }
    &__subscribe {
        display: flex;
        justify-content: center;
        margin-bottom: 85px;

        input {
            margin-right: 7px;
            padding: 20px 15px 20px 15px;
            border: none;
            border-radius: 10px;
            max-width: 400px;
            width: 100%;
            font-size: 18px;
            letter-spacing: 0.3px;
            outline: none;
        }
        button {
            padding: 0px 23px;
            border: none;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            color: $color-white;
            background-color: $color-secondary;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;

        &-social {
            position: relative;
            margin: 0 3.5px;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: #dedede;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
//=== / footer ===